<div class="option-input">
    <input type="hidden"
           class="option-input"
           id="option_input_{{ id }}"
           name="input_{{ id }}"
           value="{{ value }}" />
    <div class="message-aside" id="status_{{ id }}">{% include "status_span.html" with status=status status_id=id %}</div>
    <span id="answer_{{ id }}"></span>
    {% if (status == 'unsubmitted' or status == 'correct' or status == 'incorrect') and msg %}
        <span class="message" tabindex="-1">{{ msg|safe }}</span>
    {% endif %}
</div>
